<!DOCTYPE html>
<html>
<body>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
    </script>
    <div id="datepicker"></div>
    <script>        
       $("#datepicker").show();
        window.extAsyncInit = function() {
        	console.log('Messenger extensions are ready');
        }
        	var userID = "<%= userID %>";
        	var langPrefix = "<%= langPrefix %>";

       		$("#datepicker").datepicker({
                    changeYear: true,
  	            changeMonth: true,
                    yearRange: "1945:c",
                    onSelect: function(value, date) {
					
                    const formData = {
                        date: value,
                        userID: userID,
                        langPrefix: langPrefix.substring(0, 3)
                    };
                    $.post('/date-picker-response', formData, function(data) {
                        MessengerExtensions.requestCloseBrowser(function() {
                            console.log('Window will be closed');
                        }, function(error) {
                            console.log('There is an error');
                            console.log(error);
                        });
                    });
        		}
        	});
    </script>
</body>

</html>