<!DOCTYPE html>
<html>
<style>
.ui-all {
  display: inline-block;
}
</style>
<body>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
    </script>
    <form id="option-list">
    	<ul id="options" style="list-style: none;">
    	</ul>
        <input type="submit" value="Submit" style="margin-left: 40px;">
    </form> 
    <script>        
        window.extAsyncInit = function() {
            console.log('Messenger extensions are ready');
        }
        var userID = "<%= userID %>";
        var langPrefix = "<%= langPrefix %>";
        var optionType = "<%= optionType %>";
        var disease = [
                         "Alzheimers or other dementia", "Arthritis", "Asthma",
 			 "Cancer", "Chronic Obstructive Pulmonary Disorder (COPD)", "Cirrhosis of the Liver",
			 "Coronary artery disease", "Diabetes", "Diarrhoeal diseases", "Hepatitis A",
			 "Hepatitis B", "Hepatitis C", "HIV or AIDS",
			 "Hypertension", "Ischaemic Heart Disease", "Kidney Disease",
			 "Lower Respiratory Infections", "Malaria", "Measles",
			 "Stroke", "Pneumonia", "Tuberculosis", "None of the above"
		      ];
        var medications = [
                            "Acetylcysteine", "Amlodipine", "Anastrozole",
			    "Aspirin", "Bisoprolol", "Calcium dobesilate",
                            "Calcium Carbonate", "Candesartan","Captopril",
			    "Carvedilol","Cefadroxil","Celecoxib",
			    "Clopidogrel", "Diacerin", "Diclofenac",
			    "Efavirenz", "Emtricitabine", "Enlapril",
			    "Erythromycin", "Esomeprazole", "Ethambutol",
			    "Felodipine", "Fosinopril", "Furosemide",
			    "Gliclazide", "Glimepiride", "Ibuprofen",
			    "Irbesartan", "Isoniazid", "Lamivudine",
			    "Letrozole", "Lisinopril", "Loperamide",
			    "Losartan", "Meloxicam", "Metformin",
			    "Metroprolol", "Montelukast", "Olmesartan",
			    "Omeprazole", "Paracetamol", "Pioglitazone",
			    "Pregabalin", "Pyrazinamide", "Rabeprazole",
			    "Rifampin", "Salbutamol", "Streptomycin",
			    "Tenofovir", "Valsartan", "Vildagliptin",
			    "None of the above"
		      ];
        var events = [
                            "Local health events",	
                            "Doctor visits to the community",
                            "1:1 Campaigns",
                            "Peer support groups",
                            "Information I canread myself",
                            "Digital health reminders",
                            "Health information through Facebook",
                            "Access to medicines",
                            "Access to diagnostic services",
                            "Access to insurance",
                            "Access to vaccines",
                            "Access to nutrition products",
                            "Access to OTC products",
                            "None of the above"
		      ];
    console.log(optionType);
    var options = (optionType == "disease")? disease : (optionType == "medications")? medications : events;
    var assetList = $('#options')
    $.each(options, function(i)
    {
        var li = $('<li/>')
            .addClass('ui-menu-item')
            .attr('role', 'menuitem')
            .appendTo(assetList);
      
       	var aaa = $('<a>')
            .addClass('ui-all')
            .appendTo(li);
      
      	var input = $('<input/>')
            .addClass('ui-all')
            .attr('type', 'checkbox')
            .attr('name', options[i])
            .attr('value', options[i])
            .appendTo(aaa); 
     
      	var aaaa = $('<span>')
            .text(options[i])
            .appendTo(aaa);
    });

    $('#option-list').submit(function(event) {
        console.log('Submit pressed');
          
        event.preventDefault();
        var selected = [];
            $.each($("input[type='checkbox']:checked"), function(){            
                selected.push($(this).val());
            });
        const formData = {
            optionType : optionType,
            options: selected.join(', '),
            userID: userID,
            langPrefix: langPrefix.substring(0, 3)
        };
        console.log(formData);
        $.post('/option-response', formData, function(data) {
            MessengerExtensions.requestCloseBrowser(function() {
                console.log('Window will be closed');
            }, function(error) {
                console.log('There is an error');
                console.log(error);
            });
        });
     });
    </script>
</body>

</html>