<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Paypal Payment Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <script type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    
    <script src="https://www.paypal.com/sdk/js?client-id=AZ0B11VgH6Wc4xZ8M8BiCTDn6NpXu2PNthWPdRx2sC-dbBpsMIajXTFU7gg67xyauy8Nepz7pRLOrcGx&disable-funding=card"></script>
    <script>
       var ME = null;
       (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'Messenger'));
       
       window.extAsyncInit = function() {
       console.log('Messenger extensions are ready');
       ME = MessengerExtensions;
       }
    </script>

</head>
<body>

<div class="container">

<!-- Credit Card Payment Form - START -->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="text-center">Payment Details</h3>
                        <table style="width:100%;margin-left:30px;">
                           <tr>
                              <th align="left">Item List</th>
                              <th align="left">Qty</th>
                              <th align="left">Price(PHP)</th>
                           </tr>
                           <tr>
                              <td id="item-list"></td>
                              <td id="qty-list"></td>
                              <td id="price-list"></td>
                           </tr>
                        </table>
                        <hr>
                        <table style="width:100%;margin-left:30px;">
                           <tr>
                              <th align="left" width=175px>Total</th>
                              <th id="total-price" align="left"></th>
                           </tr>
                           <tr>
                              <td id="payment-id" align="left" width=175px></td>
                              <td id="payment-status" align="left"></td>
                           </tr>
                        </table>
                        <br/>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="success-payment-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    payment_id = "<%= payment_id %>";
    messenger_id = "<%= userID %>";
    is_paid = "<%= is_paid %>";
    restUrl = "<%= restUrl %>";
    item_list = "<%= item_list %>".replace(/&lt;/g,"<").replace(/&gt;/g,">");
    price_list = "<%= price_list %>".replace(/&lt;/g,"<").replace(/&gt;/g,">");
    qty_list = "<%= qty_list %>".replace(/&lt;/g,"<").replace(/&gt;/g,">");
    total_price = "<%= total_price %>".replace(/&lt;/g,"<").replace(/&gt;/g,">");
    document.getElementById("item-list").innerHTML = item_list;
    document.getElementById("price-list").innerHTML = price_list;
    document.getElementById("qty-list").innerHTML = qty_list;
    document.getElementById("total-price").innerHTML = total_price;
    document.getElementById("payment-id").innerHTML = payment_id;
    if(is_paid == "true") {
        document.getElementsByClassName("panel-body")[0].innerHTML = "";
        document.getElementsByClassName("panel-footer")[0].innerHTML = "";
        document.getElementById("payment-status").innerHTML = "Paid";
    } else {
        document.getElementById("payment-status").innerHTML = "Not Paid";
    }

    paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: total_price
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
            var notify = new XMLHttpRequest();
            notify.open("POST", restUrl + "/notify_order", true);
            notify.setRequestHeader('Content-Type', 'application/json');
            notify.send(JSON.stringify({
                "messenger_id" : messenger_id,
                "blockName" : "Single Message Content",
                "messageContent" : "You successfully paid with the amount of\n" +
                                    total_price +
                                    " for items " +
                                    item_list.replace(/<br[/]>/g, "\n") +
                                    "\nThanks for your purchase!"
            }));
            ME.requestCloseBrowser(function() {
                return fetch('/paypal-transaction-complete', {
                  method: 'post',
                  headers: {
                    'content-type': 'application/json'
                  },
                  body: JSON.stringify({
                    orderID: data.orderID
                  })
                });
                console.log('Window will be closed');
            }, function(error) {
                console.log('There is an error');
                console.log(error);
            });
          });
        }
     }).render('#paypal-button-container');
</script>
<style>
    .cc-img {
        margin: 0 auto;
    }
</style>
<!-- Credit Card Payment Form - END -->

</div>

</body>
</html>