<!DOCTYPE html>
<html>
<style>
.ui-all {
  display: inline-block;
}
/* Pagination links */
#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
#pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<body>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <table id="suggestions">
    <tr>
        <th>MessengerID</th>
        <th>Suggestion</th> 
    </tr>
    </table>
<div id="pagination">
</div>
<div id="link">
<br/>
<br/>
<br/>
<a href="/generate_csv/suggestions.csv">Download full csv file here</a>
</div>

<script>
	var result = JSON.parse("<%= result %>".replace(/[&][#]34[;]/g,'"'));
        var maxCountInPage = 6;
        var pageNum = "<%= page %>";
        var pageTot = "<%= pageTot %>";
        var pageStart = (pageNum%maxCountInPage  > 1)? pageNum - pageNum%maxCountInPage : (pageNum%maxCountInPage == 1)? pageNum - 1 : pageNum - 6;
        var pageEnd = ((pageStart + 6 > pageTot)? pageTot : pageStart + maxCountInPage );
        var $table = $('#suggestions');
        for(i = 0; i < Object.keys(result).length; i++)
        	$table.append('<tr><td>' + result[i].messenger_id + '</td><td>' + result[i].suggestion + '</td></tr>');
        var $pagination = $('#pagination');
        if(pageStart + 1 > maxCountInPage )
        	$pagination.append('<a href="/suggestions?page=' + (parseInt(pageNum) - 1).toString() + '">&laquo;</a>');
        for(i = pageStart; i < pageEnd; i++) {
            $pagination.append('<a ' + ((i + 1 == pageNum)? 'class="active"' : '') + 'href="/suggestions?page=' + (i + 1).toString() + '">' + (i + 1).toString() + '</a>');
	}
	if(pageTot - pageStart >= maxCountInPage)
        	$pagination.append('<a href="/suggestions?page=' + (parseInt(pageNum) + 1).toString() + '">&raquo;</a>');
    </script>
</body>

</html>